body{
    font-family: 'Roboto', sans-serif;
}

.bg-primary{
    background:linear-gradient(90deg,#043670, #00d7a2)!important;
}

.btn-success{
    background-color:#043670!important;
}


.blanco{
    color: #fff!important;
}

a:hover{
    font-weight: 700;
    color:#00d7a2!important;
}

/** Estilos al aside **/
aside{
    width: 260px;
    height: 100%;
    position: absolute;
    margin-top:56px;
    top: 0;
    bottom: 0;
    z-index: 1029;
}

main {
    position: relative;
    left: 0;
    margin-left: 260px;
    min-height: 100%;
}

.form-group input[type="date"]{
    display: block;
    border:1px solid#e1e1e1;
    border-radius: 1em;
    outline: 0px;
    width: 20%;
	padding: 1rem;
	margin-bottom:20px ;/*margen inferior, para separarlos uno del otro */
}