html{
	font-size: 62.5%; /* Reset para REM */
	/* 62.5 = 10px de 16px */
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

/*Estilos generales */
*{
	margin:0;
    padding:0;
    text-decoration: none;/*Quita los subrayados por defectos a los links*/
}

img{
	max-width: 100%;/*Para que todas las imagenes sean responsive */
}

.contenedor{
    max-width:120rem;
    width: 100%;
	margin: 0 auto 0 auto;/* Lo centro*/
	max-height: 1000px;
}

body{
    font-size:1.8rem;/*Tamaño de la fuente*/
	line-height: 2;
	background: linear-gradient(90deg,#00d7a2,#043670);
	padding: 15px;
	font-family: 'Roboto', sans-serif;/*Tipografía a usar*/
}

.logo-header{/*Para centrar imágenes es necesario esto*/
	width: 130px;
	display: block;/*Por defecto las imágenes son display:inline; hay que cambiarlo*/
	margin: 0 auto;
}

.titulo{
	text-align:center;
	font-weight: 700;
	margin-top:15px;
	color:#7a7a7a;/*color de la fuente*/
}

/* Estilos al formulario */
.formulario{
	background-color:#f7f7f7;
	width: 40%; /*ancho */
	margin: 20px auto; /*para centrarlo */
	padding: 20px;
	margin-top: 90px;/*para bajarlo un poco */
	border-radius: 11px;/*Redondear bordes*/
}

.formulario input,
.formulario textarea{
    display: block;
	margin: 0 auto;
	height: 30px;
	background: rgba(0,0,0,0);
	border:0px;
	outline: 0px;
	border-bottom: 1px solid rgba(0,0,0,0.18);
	color: #043670;/*color de la fuente*/
	font-size: 15px;/*Tamaño de la fuente*/
}

.formulario h3,
.formulario p{
    text-align: center;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario input[type="date"],
.formulario input[type="password"],
.formulario textarea{
    width: 100%;
	padding: 1rem;
	margin-bottom:20px ;/*margen inferior, para separarlos uno del otro */
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario input[type="tel"]:focus,
.formulario input[type="date"]:focus,
.formulario input[type="password"]:focus,
.formulario textarea:focus{
    border: 0.5px solid #043670;
}

.formulario input[type="button"]{
	width:100%;
	height: 50px;
	margin-top: 40px;
	color: white;/*color de la fuente*/
	border:0px;
	background: linear-gradient(90deg,#00d7a2,#043670);
	font-weight: 700;
	cursor: pointer;/*Modifica el cursor a mostrar*/
	font-size:18px;/*Tamaño de la fuente*/
}

.formulario input[type="button"]:hover{/*Cambia de color al pasar por el botón*/
	background: linear-gradient(90deg,#043670,#00d7a2);
}

.formulario input[type="button"]:active{/*Al hacer clic*/
	background: #ed8404;
	transform: scale(1.06); /*Aumenta el tamaño del input al dar clic*/
}/*Esto lo añadí*/

.formulario textarea{
	min-height: 120px;
	max-height: 200px;
	min-width: 100%;
	max-width: 100%;
}


.text-footer{
	display: block;
	text-align: center;
	margin-top: 20px;
	color:#7a7a7a;/*color de la fuente*/
	font-weight: 400;/*Quitar grosor ó quitar la negrita de la fuente*/
}

.text-footer a{
	color: #043670;/*color de la fuente*/
	font-weight: 700;
}
/* listo el formulario , aunque no es responsive */

/*Pruebas*/
.text-footer a:hover{
	background: linear-gradient(90deg,#00d7a2,#043670);
}

.text-footer a:active{
	background: #ed8404;
	transform: scale(1.6);
}


